<div class="about-background">
  <h1>About TweetApp</h1>
  <p>
      TweetAppを一言で表すと、つぶやきアプリです。<br>
      ツイッターとは、ツイートと呼ばれる140文字のメッセージから成り立つ情報ネットワークです。<br>
      興味のあるテーマに関連する最新情報 (「いま、なにしてる?」) をみんなで共有できるサービスです。
  </p>
</div>