<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <ul>
        <li><a href="/tops">TOP</a></li>
        <li><a href="/posts">つぶやき一覧</a></li>
        <li><a href="/posts/new">新規投稿</a></li>
      </ul>
    </header>
 
    <%= yield %>
    
    <footer>
      <p>© DIC201805 Shiroyama Maeka.</p>
    </footer>
  </body>
</html>
